<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:300,400,500,600,700|Space+Mono:400,700&amp;display=swap" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <title>{{.Title}}</title>
    {{- if .Params.images -}}
      {{- range first 1 .Params.images -}}
        <style>.bg-img {background-image: url('{{. | absURL}}');}</style>
      {{- end -}}
    {{- end -}}
  </head>
  <body class="bg-gray-100">
    <div class="flex flex-col min-h-screen m-auto">
      {{ block "header" . }}
        {{ partial "header.html" . }}
      {{ end }}
      <div class="flex flex-col mx-3 justify-between flex-grow md:text-lg">
        {{ block "main" . }}
        {{ end }}

        {{ block "footer" . }}
          {{ partial "footer.html" . }}
        {{ end }}
      </div>
    </div>
		<script src="/js/main.js" ></script>
  </body>
</html>
