{{ define "main" }}
<main class="m-auto w-full md:max-w-lg lg:max-w-xl">
  <h1 class="text-center site-tittle">{{ .Title }}</h1>
  {{- if .Content }}
  <div class="content">{{ .Content }}</div>
  {{- end }}
  <div>
    {{- range .Data.Pages.GroupByDate "2006" }}
    <div class="mt-5">
      <div id="{{ .Key }}">{{ .Key }}</div>
      <ul>
        {{- range .Pages }}
        <li class="border-gray-500 border-b border-dashed m-2">
          <a href="{{.Permalink}}" class="flex justify-between no-underline border-transparent">
            <span class="post-title">{{ .Title }}</span>{{- if .Site.Params.dateformShort -}}<span class="text-gray-500">{{ .Date.Format .Site.Params.dateformShort }}</span>{{- else -}}<span class="text-gray-500">{{ .Date }}</span>{{- end -}}
          </a>
        </li>
        {{- end }}
      </ul>
    </div>
    {{- end }}
  </div>
</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
