@tailwind base;

html {
  font-size: 22px;
}
body {
  padding: 0 0;
}
h1 {
  margin-top: 0;
}
@screen md {
  html {
    font-size: 17px;
  }
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  margin: 1em 0;
}
h3 {
  font-size: 1.2em;
  margin: 1em 0;
}
h4,
h5,
h6 {
  font-size: 1em;
  margin: 1em 0;
}

@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @apply text-gray-700;
  @apply font-serif;
}

body {
  @apply text-gray-700;
}

article p {
  margin: 1rem 0;
  @apply break-words;
}

figure img {
  @apply border-4 rounded border-white;
  @apply shadow;
}

figure {
  max-width: 100%;
  height: auto;
  margin: 1.5rem 0;
  text-align: center;
}

figure p {
  margin: 0;
  font-size: 0.8rem;
  font-style: italic;
  opacity: 0.6;
}

article a.anchor {
  float: left;
  margin-left: -20px;
  padding-right: 6px;
  box-shadow: none;
  opacity: 0.8;
}
article a.anchor:hover {
  background: 0 0;
  color: #4c867f;
  opacity: 1;
}
article a.anchor svg {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: baseline;
  visibility: hidden;
}
article a.anchor:focus svg {
  visibility: visible;
}
article h1:hover a.anchor svg,
article h2:hover a.anchor svg,
article h3:hover a.anchor svg,
article h4:hover a.anchor svg,
article h5:hover a.anchor svg,
article h6:hover a.anchor svg {
  visibility: visible;
}

article pre {
  @apply overflow-x-auto rounded my-3 bg-gray-300;
}

article blockquote {
  @apply py-1
}

article blockquote p {
  @apply my-2
}

article blockquote {
  @apply border-l-8 border-gray-900 px-4;
  @apply border-r-8 border-gray-900 px-4;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-radius: 1rem;
  @apply my-6;
}

article blockquote footer {
  @apply text-gray-600 mb-2 relative
}

article blockquote footer:before {
  content: '\2015';
}

article blockquote footer:after {
  content: '\201D';
  position: absolute;
  top: -3rem;
  right: 0;
  font-size: 6rem;
  z-index: -1;
}

article .hook-paragraph {
  @apply text-gray-600;
}

article .nice-paragraph:first-letter,
article #content > p:first-of-type:first-letter {
  margin: 0;
  font-size: 3.5em;
  font-weight: bold;
  @apply text-gray-700;
  line-height: 0;
}

article .nice-paragraph,
article #content > p:first-of-type {
  margin-top: 2rem;
}

article p svg {
  @apply mr-1;
}

blockquote cite sup {
  @apply p-1;
}
blockquote cite sup a {
  @apply not-italic font-mono;
}

blockquote cite sup a.footnote-ref::before {
  content: "[";
}

blockquote cite sup a.footnote-ref::after {
  content: "]";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  max-width: 100%;
}
table th,
table td {
  padding: 1.5%;
  border: 1px solid;
}

table th {
  font-weight: 700;
  vertical-align: bottom;
}

article ol,
article ul {
  @apply ml-2 pl-2;
}

article ol {
  @apply list-decimal;
}

article ul {
  @apply list-disc;
}

hr.content-end {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr.content-end:after {
  content: "•";
  display: inline-block;
  position: relative;
  top: -1rem;
  font-size: 0.5rem;
  padding: 0 0.25em;
  @apply bg-gray-100;
}

article footer span {
  @apply mx-1;
}

.sicon {
  display: inline;
  height: 1.5em;
  width: 1.5em;
}

article * {
  @apply break-words;
}

article img.opaqued {
  opacity: 0.5;
  transition: 1s ease;
}

article img.opaqued:hover {
  opacity: 1;
  transition: 1s ease;
}

.bg-img {
  width: 100vw;
  height: 100vh;
  opacity: 0.02;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s;
}

.show-bg-img {
  z-index: 100;
  opacity: 1;
  cursor: pointer;
}

@screen md {
  figure img {
    @apply border-8 rounded border-white;
    @apply shadow-lg;
  }

  figure.left {
    float: left;
    margin-right: 1.5em;
    max-width: 50%;
    margin-left: -5%;
  }

  figure.right {
    float: right;
    margin-left: 1.5em;
    max-width: 50%;
    margin-right: -5%;
  }

  article p {
    margin: 1.5rem 0;
  }

  figure p {
    margin: 0.5rem 0;
  }

  footer p {
    margin: 0.5rem 0;
  }
}

@screen lg {
  figure.left {
    float: left;
    margin-right: 1.5em;
    max-width: 50%;
    margin-left: -25%;
  }
  figure.right {
    float: right;
    margin-left: 1.5em;
    max-width: 50%;
    margin-right: -25%;
  }
}
