<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:300,400,500,600,700|Space+Mono:400,700&amp;display=swap" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
  	<title>{{.Title}}</title>
  </head>
  <body class="bg-gray-100">
    <div class="flex flex-col min-h-screen mx-2">
      <div class="flex flex-col justify-center flex-grow items-center md:text-lg">
        <h1>{{ .Site.Title }}</h1>
        {{- with .Site.Params.homeSubtitle -}}
          <p class="mx-2 italic">{{.}}</p>
        {{- end -}}
        {{- with .Site.Params.social -}}
          <div id="home-social" class="mt-5 lg:text-xl">
            {{ range $index, $social := . -}}
              <a href="{{ $social.url | safeURL }}" target="_blank" rel="noopener me" title="{{ $social.name | humanize }}" class="border-transparent mx-2">{{- partial "svg.html" . -}}</a>
            {{- end }}
          </div>
        {{- end -}}
        {{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
          <div class="font-mono mt-5 text-center max-w-full text-xs md:max-w-lg lg:text-lg">
            {{ $.Scratch.Set "tags" (slice) }}
            {{ range $name, $taxonomy := ($.Site.Taxonomies.tags) }}
              {{ $.Scratch.Add "tags" $name }}
            {{ end }}
            {{ $bgcolors := slice "bg-red-200" "bg-red-300" "bg-red-400" "bg-red-500" "bg-yellow-200" "bg-yellow-200" "bg-yellow-200" "bg-yellow-200" "bg-green-200" "bg-green-300" "bg-green-400" "bg-green-500" "bg-blue-200" "bg-blue-300" "bg-blue-400" "bg-blue-500" "bg-indigo-200" "bg-indigo-300" "bg-indigo-400" "bg-indigo-500" "bg-purple-200" "bg-purple-300" "bg-purple-400" "bg-purple-500" "bg-pink-200" "bg-pink-300" "bg-pink-400" "bg-pink-500" }}
            {{ range $name := $.Scratch.Get "tags" | shuffle | first 15 }}
              {{- $taxonomy := index $.Site.Taxonomies.tags $name -}}
              <span class="{{ index (shuffle $bgcolors) 1 }} inline-block px-2 m-1 rounded">
                <a href="{{ $taxonomy.Page.RelPermalink }}" class="no-underline whitespace-no-wrap border-transparent">
                  <span> {{- $taxonomy.Page.Title -}} </span><span class="" dir="auto">({{- printf "%#v" (len $taxonomy) -}})</span>
                </a>
              </span>
            {{- end -}}
          </div>
        {{ end }}
        {{ if (ne (len .Site.Taxonomies.categories) 0) }}
          <div class="mt-5 text-center text-sm lg:text-lg">
            <section>
              {{ range $index, $element := .Site.Taxonomies.categories }}
                {{ if $index }}
                  <span class="bg-gray-300 inline-block px-2 m-1 rounded ">
                    <a href="{{ $element.Page.RelPermalink }}" class="no-underline whitespace-no-wrap border-transparent">
                      <span class="taxo__text">{{ $element.Page.Title }}</span>
                    </a>
                  </span>
                {{ end }}
              {{ end }}
            </section>
          </div>
        {{ end }}
	<div class="mt-5 text-xs lg:text-md">
	  <section>
	    {{- range .Site.Menus.main -}}
	    <a class="mr-2 md:mr-5" href="{{ .URL | absLangURL }}">{{- .Name -}}</a>
	    {{- end }}
	  </section>
	</div>
      </div>
      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>
  </body>
</html>
